<div class="container">
  <div class="jumbotron">
    <h3>Selecciona tu aplicación!</h3>
  </div>

  <div class="row-fluid marketing">
    <div class="span3 round-front">
      <a href="instagram">
        <img src="../images/instagram.png" class="img-illustration">
        <h4>Instagram</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </a>
    </div>
  
    <div class="span3 round-front">
      <a href="#">
        <img src="../images/foursquare.png" class="img-illustration">
        <h4>Foursquare</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </a>
    </div>
    <div class="span3 round-front">
      <a href="#">
        <img src="../images/flickr.png" class="img-illustration">
        <h4>Flickr</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </a>
    </div>
    <div class="span3 round-front">
      <a href="#">
        <img src="../images/facebook.png" class="img-illustration">
        <h4>Facebook</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </a>
    </div>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; PegaStickers 2013</p>
  </div>
</div>
    