<h1>Yay</h1>
User:
<br>
<img src="<%= @response["user"]["profile_picture"]%>"/>
<br>
Response: <%= @response %>
<br>
<br>
Result: 
<br>
<% @result["data"].each do |p| %>
<img src="<%= p["images"]["thumbnail"]["url"] %>" />
 <% end %>