<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
    $('#photos > img').hover(function(){
      $(this).next(".add-photo").show();
    });
    
    $('#photos > span').mouseout(function(){
      $(this).hide();
    });

    $('#photos > span a').mouseenter(function(){
      $(this).parent().show();
    });

    $('#photos > span a').click(function(){ 
      $(this).parent().next().clone().prependTo('#cart .grid');
      $(".grid img").click(function(){
        $(this).fadeOut() 
      });
    });
  });
     
  </script>
  
  <style>
    #photos span { display: none;
      background-color: #333;
      background-color: rgba(51,51,51,0.95);
      width: 141px;
      height: 141px;
      margin: 0px 0px 0px -161px;
      float: left;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none;}
    #photos span a{
      margin: 55px 0 0 40px;
      float: left;
      border: 1px #666 solid;
      padding: 5px;
      border-radius: 5px;
    }
    #cart {width: 500px;background: #cccccc;height: 500px;-webkit-border-radius: 15px; }
  </style>

<div class="container">
  <div class="jumbotron">
    <h3>Elige tus fotos!</h3>
  </div>

  <div class="row-fluid marketing">
    <div class="span7">
      <div class="demo-browser">
        <div class="demo-browser-side">
          <div class="demo-browser-author">
            <img src="<%= @profile %> "/>
          </div>
          <h5>@USER</h5>
        </div>
        <div id="photos" class="demo-browser-content">
          <% @images.each do |i| %>
            <img src="<%= i %>" class="photo" />
            <span class="add-photo"><a class="add-photo-button">Agregar</a></span>
            <% end %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div id="cart">
        <h4 class="ui-widget-header"><span class=""></span>Tu Pedido</h4>
        <div class="grid">
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; PegaStickers 2013</p>
  </div>
</div>