<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
    $('#photos > img').hover(function(){
      $(this).next(".add-photo").show();
    });
    
    $('#photos > span').mouseout(function(){
      $(this).hide();
    });

    $('#photos > span a').mouseenter(function(){
      $(this).parent().show();
    });
    
    $('#photos > span a').click(function(){
      var total = $(".grid > img").length;
      if (total < 13) {
        $(this).parent().prev().clone().prependTo('#cart .grid');       

        $(".grid > img").hover(function(){
          $(this).addClass('hover');
        },function(){
          $(this).removeClass('hover');
        })
        .click(function(){
          $(this).remove();
        });
      }
    });
  });
     
  </script>

<div class="container">
  <div class="jumbotron">
    <h3>Elige tus fotos!</h3>
  </div>

  <div class="row-fluid marketing">
    <div class="span7">
      <div class="demo-browser">
        <div class="demo-browser-side">
          <div class="demo-browser-author">
            <img src="<%= @profile %> "/>
          </div>
          <h5>Hola <%= @user_name %>!</h5>
        </div>
        <div id="photos" class="demo-browser-content">
          <% @images.each do |i| %>
            <img src="<%= i %>" class="photo" />
            <span class="add-photo"><a class="add-photo-button">Agregar</a></span>
            <% end %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div id="cart">
        <br>
        <h4 class="ui-widget-header">Tu Pedido</h4>
        <div class="grid">
          <img />
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; PegaStickers 2013</p>
  </div>
</div>