<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
    $('#photos > img').click(function(){ 
      $(this).clone().prependTo('#cart .grid');
      $(".grid img").click(function(){ $(this).fadeOut() });
    });
  });
     
  </script>
  
  <style>
    #photos { float:left;}
    #cart {width: 500px;background: #cccccc;height: 500px;-webkit-border-radius: 15px; }
  </style>

<div class="container">
  <div class="jumbotron">
    <h3>Elige tus fotos!</h3>
  </div>

  <div class="row-fluid marketing">
    <div class="span7">
      <div class="demo-browser">
        <div class="demo-browser-side">
          <div class="demo-browser-author">
            <img src="<%= @profile %> "/>
          </div>
          <h5>@USER</h5>
        </div>
        <div id="photos" class="demo-browser-content">
          <% @images.each do |i| %>
            <img src="<%= i %>" class="photo" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div id="cart">
        <h4 class="ui-widget-header"><span class=""></span>Tu Pedido</h4>
        <div class="grid">
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; PegaStickers 2013</p>
  </div>
</div>