.masthead {
  background-color: #ecf0f5;
  padding: 20px 0;
}
.round-front{
  background-color: #ecf0f5;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
}
.img-illustration{
  height: 100px;
  margin: 31px 0 27px;
  vertical-align: bottom;
}
.jumbotron {
  margin: 30px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  text-align: center;
}
.marketing p + h4 {
  margin-top: 28px;
}
#photos span { display: none;
  background-color: #333;
  background-color: rgba(51,51,51,0.95);
  width: 141px;
  height: 141px;
  margin: 0px 0px 0px -161px;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;}
#photos span a{
  margin: 55px 0 0 40px;
  float: left;
  border: 1px #666 solid;
  padding: 5px;
  border-radius: 5px;
}
#cart {width: 500px;
  background: #cccccc;
  position: fixed;
  height: 500px;
  -webkit-border-radius: 15px;
}
.grid img{
  width: 110px;
  padding: 5px;
  z-index: -1;      
}
.hover{
  content: url(/images/delete-img.png);
}