<div class="masthead">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Shipping</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="muted">PegaStickers</h3>
  </div>
</div>

<div class="container">
      <div class="jumbotron">
        <h3>Convierte tus imágenes favoritas en Stickers!</h3>
        <br>
        <img alt="example" src="images/example.jpg" style="border-radius: 15px;">
        <br>
        <br>
        <a class="btn btn-large btn-success" href="/connect">Comienza</a>
      </div>

      <hr>

      <div class="row-fluid marketing">

        <div class="span4 round-front">
          <h4>Conectate</h4>
          <img src="images/retina.png" class="img-illustration">
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="span4 round-front">
          <h4>Elige</h4>
          <img src="images/bag.png" class="img-illustration">
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="span4 round-front">
          <h4>Disfruta!</h4>
          <img src="images/gift.png" class="img-illustration">
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; PegaStickers 2013</p>
      </div>