<!DOCTYPE html>
<html>
<head>
  <title>Stickerfan</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="masthead">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="/">
        <h3 class="muted" style="color: #1ABC9C;">Pega<b style="color: #2C3E50;">Stickers</b></h3>
      </a>
    </div>
  </div>

<%= yield %>

</body>
</html>